body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
}

.hero {
  height: 80vh;
  background: linear-gradient(135deg, #ff758c, #ff7eb3); /* pinkish gradient */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.hero img {
  width: 300px;
  max-width: 80vw;  
  height: 300px;
  max-height: 80vw; 
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.hero img:hover {
  transform: scale(1.05);
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-weight: bold;
  margin-bottom: 30px;
  border-bottom: 3px solid #2470e3;
  display: inline-block;
}


footer {
  background: rgb(27, 26, 26);
  color: rgb(232, 226, 226);
  font-size: 14px;
  padding: 20px;
}


