body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(270deg, #ff758c, #ff7eb3, #6a82fb, #fc5c7d);
  background-size: 800% 800%;
  animation: gradientShift 15s ease infinite;
  padding: 60px 20px;
  text-align: center;
  color: white;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.hero-text {
  max-width: 700px;
  margin: auto;
}

.hero-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 15px;
  text-shadow: 0px 0px 15px rgba(255,255,255,0.4);
}

.hero-subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(255,255,255,0.9);
}


.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-weight: bold;
  margin-bottom: 30px;
  border-bottom: 3px solid #2470e3;
  display: inline-block;
}

footer {
  background: rgb(27, 26, 26);
  color: rgb(232, 226, 226);
  font-size: 14px;
  padding: 20px;
}
